extends layout

block content
  p Hi there! 😊

  p I am Sanjay, working in Srijan as team/tech lead. I am full-stack developer and play around with all new "cool kid" stuff happening in web development like angular, react, nosql databases, nodejs, service worker, offline apps, progressive web apps. I have codepen profile for quick demo stuff and have code repositories on Github and Drupal.org.

  p Other than techie things, I like photography and travelling.

  p If you have something to talk about, just drop a message. Links are below OR anywhere.
